.rath-yatra-container {
    text-align: center;
  }
  .heading {
    /* margin: 20px 0; */
    font-size: 1.8rem;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .full-screen-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the image scales down to fit within the container */
  }
  
  .youtube-player-container {
    margin: 20px 4%;
  }
  
  .youtube-player iframe {
    width: 100%;
    height: 100%;
    /* height: 50vw; Adjust height based on viewport width for better responsiveness */
  }
  
  .articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: auto;
    padding: 20px; /* Add padding to ensure content isn't flush against the edges */
  }
  
  .article-card {
    width: 100%; /* Default width for smaller screens */
    max-width: 300px; /* Maximum width for larger screens */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .article-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
  }
  
  .article-card h3 {
    margin: 0 0 10px;
  }
  
  .article-card p {
    margin: 0 0 10px;
  }
  
  .article-card a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .article-card a:hover {
    text-decoration: underline;
  }
  
  /* Media Queries for responsiveness */
  @media (min-width: 600px) {
    .youtube-player iframe {
      height: 45vw; /* Adjust height for medium screens */
    }
  
    .article-card {
      width: 45%; /* Adjust width for medium screens */
    }

  }
  
  @media (min-width: 900px) {
    .youtube-player iframe {
      height: 35vw; /* Adjust height for large screens */
    }
  
    .article-card {
      width: 30%; /* Adjust width for large screens */
    }
  }
  
  @media (min-width: 1200px) {
    .youtube-player iframe {
      height: 30vw; /* Adjust height for extra large screens */
    }
  
    .article-card {
      width: 22%; /* Adjust width for extra large screens */
    }
  }
  